
body{

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 5% 30% 5% 30%;
}
img{
	width: 30px;
	height: 30px;
}
.example_1{
	width: 900px;
	height: 200px;
}
.example_2{
	width: 900px;
	height: 200px;
}
.example_3{
	width: 900px;
	height: 280px;
}
.example_4{
	width: 900px;
	height: 220px;
}

.arial{
	font-size: 30px;
	font-weight: 500;
}
h2.arial{
	font-size: 28px;
	font-weight: 500;
}